<VirtualHost *:80>
  ServerName {{servername}}
  DocumentRoot "{{vhostpath}}/{{vhostdir}}/current/web"
  DirectoryIndex app.php

  ServerAlias {% for alias in aliases %} {{alias}} {% endfor %}

  AddHandler php5-fcgi .php
  Action php5-fcgi /php5-fcgi
  Alias /php5-fcgi /usr/lib/cgi-bin/php5-fcgi
  
 
 

  <Directory "{{vhostpath}}/{{vhostdir}}/current/web">
    Options FollowSymLinks
    AllowOverride None
    Allow from All
  </Directory>



  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/php5-fcgi/
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
  RewriteRule ^ /app.php [L]


  # Show maintenance page if it exists
  ErrorDocument 503 /maintenance.html
  RewriteCond %{REQUEST_URI} !\.(css|gif|jpg|png)$
  RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$  -  [redirect=503,last]



  ErrorLog ${APACHE_LOG_DIR}/error_log_{{servername}}.log


  CustomLog ${APACHE_LOG_DIR}/access_log_{{servername}}.log combined


</VirtualHost>
